<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>User Login:</h1>
<form action="validate" method="post">
		<table>
					
			<tr>
			<td><label>Email :</label></td>
			<td><input type="email" name="email" id="tbEmail"></td>
			</tr>
			<br>
			
			<tr>
			<td><label>Password :</label></td>
			<td><input type="password" name="password" id="tbPassword"></td>
			</tr>
			<br>
			
			<tr>
			<td></td>
			<td><input type="submit" value="Login" id="btnRegister"></td>
			</tr>
					
		</table>
	</form>
</body>
</html>