<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>User Registration:</h1>
	<form action="registration" method="post">
		<table>
		
			<tr>
			<td><label>UserName :</label></td>
			<td><input type="text" name="username" id="tbName"></td>
			</tr>
			
			
			<tr>
			<td><label>Email :</label></td>
			<td><input type="email" name="email" id="tbEmail"></td>
			</tr>
			
			
			<tr>
			<td><label>Password :</label></td>
			<td><input type="password" name="password" id="tbPassword"></td>
			</tr>
			
			
			<tr>
			<td>
			<label>Gender :</label></td>
			<td><input type="radio" name="gender" value="male" >Male
			<input type="radio" name="gender"  value="female">Female
			<input type="radio" name="gender"  value="others" >Others
			</td>
			</tr>
			
			
			<tr>
			<td><label>Role:</label></td>
			<td>
			<input type="radio" name="role"  value="admin">Admin
			<input type="radio" name="role"  value="customer">Customer
			</td>
			</tr>
			
			
			<tr>
			<td><label>Address :</label></td>
			<td><textarea name="address"></textarea></td>
			</tr>
			
			
			<tr>
			<td></td>
			<td><input type="submit" value="Register" id="btnRegister"></td>
			</tr>
					
		</table>
	</form>
</body>
</html>